.crausoel_container {
    width: 100%;
    height: 700px;
    cursor: pointer;
  }
  .slick-dots li button:before {
    font-size: 15px;
    margin-top: 20px;
    color: #149ddd;
  }
  .slick-dots li.slick-active button:before {
    color: #149ddd;
  }
  
  .crausoel_image {
    width: 100%;
    height: 500px;
  }
  
  .content-prev-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    padding: 10px 14px 10px 16px;
    color: black;
    background-color: #fafaf8;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px black;
  }
  
  .content-next-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 1;
    background-color: red;
    padding: 10px 16px 10px 14px;
    color: black;
    background-color: #fafaf8;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px black;
  }
  
  @media only screen and (min-width: 80px) {
    .crausoel_container {
      width: 100%;
      height: 250px;
    }
    .crausoel_image {
      width: 100%;
      height: 250px;
    }
  }
  
  @media only screen and (min-width: 200px) {
    .crausoel_container {
      width: 100%;
      height: 250px;
    }
    .crausoel_image {
      width: 100%;
      height: 250px;
    }
  }
  
  @media only screen and (min-width: 400px) {
    .crausoel_container {
      width: 100%;
      height: 250px;
    }
    .crausoel_image {
      width: 100%;
      height: 250px;
    }
  }
  
  @media only screen and (min-width: 800px) {
    .crausoel_container {
      width: 100%;
      height: 320px;
    }
    .crausoel_image {
      width: 100%;
      height: 320px;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .crausoel_container {
      width: 100%;
      height: 370px;
    }
    .crausoel_image {
      width: 100%;
      height: 370px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .crausoel_container {
      width: 100%;
      height: 500px;
    }
    .crausoel_image {
      width: 100%;
      height: 650px;
    }
  }